<mat-nav-list>
  <a mat-list-item routerLink="/" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">
    <mat-icon matListIcon>home</mat-icon> Головна
  </a>
  <a mat-list-item routerLink="/rules" [routerLinkActiveOptions]="{exact:true}"  routerLinkActive="active">
    <mat-icon matListIcon>notes</mat-icon> Правила
  </a>
  <a mat-list-item routerLink="/games" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">
    <mat-icon matListIcon>games</mat-icon> Ігри
  </a>
  <a mat-list-item routerLink="/rating" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">
    <mat-icon matListIcon>supervisor_account</mat-icon> Рейтинг гравців
  </a>
  <a mat-list-item routerLink="/admin" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">
    <mat-icon matListIcon>https</mat-icon> Admin Panel
  </a>
</mat-nav-list>
