<div class="header">
    <mat-toolbar class="mat-toolbar" color="primary">

      <mat-toolbar-row class="justify-content-between">
        <button mat-flat-button color="primary">
          <mat-icon class="example-icon">menu</mat-icon>
        </button>
        <div>
          <button  mat-flat-button color="primary" (click)="login()">Login</button>
          <button  mat-flat-button color="primary" (click)="singUp()">Sing Up</button>
        </div>
      </mat-toolbar-row>

      <mat-toolbar-row class="justify-content-between" *ngIf="false">
          <button class="hamburger" mat-flat-button color="primary">
            <mat-icon class="example-icon">menu</mat-icon>
          </button>
          <div>
            <button  mat-flat-button color="primary" (click)="logout()">Logout</button>
            <button class="user" mat-flat-button color="primary">
                <mat-icon class="example-icon">person</mat-icon>
            </button>
          </div>
        </mat-toolbar-row>
    </mat-toolbar>

</div>
