<div class="col-sm-12">
  <div class="row">
    <div class="col-md-6">
      <form class="news-form" [formGroup]="newsForm" novalidate (submit)="publishNews()">
        <mat-form-field class="col">
          <input matInput placeholder="News title" formControlName="title">
        </mat-form-field>

        <mat-form-field class="col">
          <textarea matInput rows=5 placeholder="News text" formControlName="text"></textarea>
        </mat-form-field>
        <button type="submit" color="accent" mat-button>Publish</button>
      </form>
    </div>
    <div class="col-md-6">
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let itemNews of news">{{itemNews.title}}
          <div class="actions">
            <button mat-icon-button color="accent" (click)="editNews(itemNews)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteNews(itemNews)">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>
