<h2 class="mat-dialog-title">Login</h2>

<form action="" class="popup-form">

  <mat-form-field class="full-width">
    <input matInput placeholder="Name" type="name" [formControl]="nameFormControl">
    <mat-error *ngIf="nameFormControl.hasError('required')">
      Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Email" type="email" [formControl]="emailFormControl">
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Password" type="password" [formControl]="passwordFormControl">
    <mat-error *ngIf="nameFormControl.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <div mat-dialog-actions>
    <button mat-raised-button (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="primary" type="submit">Ok</button>
  </div>

</form>