<div class="container">
  <h2 class="mat-h2">Правила</h2>
  <mat-card>
    <p>

      Гра полягає в перекиданні м'яча ударами ракетки через сітку, натягнуту впоперек столу. Грати можуть двоє або
      четверо.

      Мінімальні розміри приміщення для 1 столу — 7,7 на 4,5 м.

      Для гри необхідно мати: стіл, сітку, ракетки, м'яч. Гра починається з подачі м'яча одним із гравців (по долі).
      Після удару ракеткою по м'ячу він повинен відскочити від столу на стороні того, хто подає, перелетіти через
      сітку,
      не зачепивши її, і торкнутися столу на іншій стороні. Під час подачі гравець, а також його ракетка й м'яч повинні
      знаходитись за задньою лінією столу.

      Подача вважається неправильною, якщо м'яч подано над столом або з ходу (з 1 вересня 2002 р. — подача
      регламентується новими правилами). Якщо м'яч під час подачі відскочив від столу на стороні того, хто подає,
      перелетів через сітку, зачепивши її або стійки сітки, і торкнувся столу на іншій стороні, то проводять повторну
      подачу, а очко не зараховують. Кількість повторних подач не обмежена.

      Гравець, що приймає, повинен відбити м'яч, що відскочив на його стороні, назад на сторону гравця, який подав;
      той,
      у свою чергу, відправляє його на сторону того, хто приймає, і так продовжується доти, доки хто-небудь із гравців
      не
      припуститься помилки. Кожна помилка дає супротивнику 1 очко.
    </p>
  </mat-card>

</div>