<h2 class="mat-dialog-title">Registaration</h2>

<form class="popup-form" [formGroup]="registrationForm" novalidate (ngSubmit)="registration()">

  <mat-form-field class="full-width">
    <input matInput placeholder="Name" type="password" formControlName="name">
    <mat-error *ngIf="registrationForm.controls['name'].hasError('required')">
      Name is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="registrationForm.controls['name'].hasError('minlength')">
      Minimum 2 characters
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Email" type="email" name="email" formControlName="email">
    <mat-error *ngIf="registrationForm.controls['email'].hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="registrationForm.controls['email'].hasError('pattern')">
      Please enter a valid email address
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Password" type="password" formControlName="password">
    <mat-error *ngIf="registrationForm.controls['password'].hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="registrationForm.controls['password'].hasError('minlength')">
      Minimum 4 characters
    </mat-error>
  </mat-form-field>

  <div mat-dialog-actions>
    <button mat-raised-button (click)="closeDialog()">Cancel</button>
    <button mat-raised-button color="primary" type="submit">Register</button>
  </div>

</form>