<h2 class="mat-dialog-title">Реєстрація</h2>

<form class="popup-form" [formGroup]="registrationForm" novalidate (ngSubmit)="registration()">

  <mat-form-field class="full-width">
    <input matInput placeholder="Ім'я" type="text" formControlName="name">
    <mat-error *ngIf="registrationForm.controls['name'].hasError('required')">
      Ім'я <strong>обов'язкове</strong>
    </mat-error>
    <mat-error *ngIf="registrationForm.controls['name'].hasError('minlength')">
        Мінімум 2 символи
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Емейл адреса" type="email" name="email" formControlName="email">
    <mat-error *ngIf="registrationForm.controls['email'].hasError('required')">
      Емейл адреса <strong>обов'язкова</strong>
    </mat-error>
    <mat-error *ngIf="registrationForm.controls['email'].hasError('pattern')">
      Будь ласка, введіть правильну емейл адресу
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Пароль" type="password" formControlName="password">
    <mat-error *ngIf="registrationForm.controls['password'].hasError('required')">
      Пароль <strong>обов'язковий</strong>
    </mat-error>
    <mat-error *ngIf="registrationForm.controls['password'].hasError('minlength')">
      Мінімум 6 символів
    </mat-error>
  </mat-form-field>

  <div mat-dialog-actions>
    <button mat-raised-button type="reset" (click)="closeDialog($event)">Відмінити</button>
    <button mat-raised-button color="primary" type="submit">Зареєструватись</button>
  </div>

</form>
