<form class="news-form row" [formGroup]="newsForm" novalidate (submit)="addNews()">
  <mat-form-field class="col-md-12">
    <input matInput placeholder="Заголовок" formControlName="title">
  </mat-form-field>

  <div class="col-md-12">
    <quill-editor [style]="{height: '150px'}" [modules]="editorConfig" sanitize="false" [placeholder]="'Текст новини'"
      formControlName="text"></quill-editor>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button (click)="closeDialog($event)">Відмінити</button>
    <button type="submit" mat-raised-button color="accent">Додати новину</button>
  </div>
</form>
