<div class="container">
  <div class="row">
    <div class="col-9">
      <div class="news">
        <h2 class="mat-h2">News</h2>
        <mat-card *ngFor="let itemNews of news">
          <mat-card-title>{{itemNews.title}}</mat-card-title>
          <mat-card-content>
            <p> {{itemNews.text}} </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-icon-button color="primary">
              <mat-icon [matBadge]="itemNews.likes || null" matBadgePosition="after" matBadgeColor="basic">thumb_up</mat-icon>
            </button>
            <button mat-icon-button color="warn">
              <mat-icon [matBadge]="itemNews.likes || null" matBadgePosition="after" matBadgeColor="accent">thumb_down</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div class="col-3">
      <h3 class="mat-h2">Players</h3>
      <mat-card>
        <mat-list>
          <mat-list-item *ngFor="let player of players; let i = index" [routerLink]="['player', player.id]">
            <span class="number">{{i+1+'. '}}</span>
            <img matListAvatar src="{{player.avatar || './assets/images/avatar.jpg'}}" alt="{{player.name}}">
            <h3 matLine> {{player.name}} </h3>
            <span class="level">{{player.level}}</span>
          </mat-list-item>
        </mat-list>
      </mat-card>
      <h3 class="mat-h2">Last Games</h3>
      <mat-card>
        <mat-list>
          <mat-list-item *ngFor="let player of players; let i = index" [routerLink]="['player', player.id]">
            <span class="number">{{i+1+'. '}}</span>
            <img matListAvatar src="{{player.avatar || './assets/images/avatar.jpg'}}" alt="{{player.name}}">
            <h3 matLine> {{player.name}} </h3>
            <span class="level">{{player.level}}</span>
          </mat-list-item>
        </mat-list>
      </mat-card>

    </div>
  </div>
</div>
