/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

html,
body {
  height: 100%;
}
body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
strong, b {
  font-weight: bold;
}

button:focus {
  outline: none;
}

.full-width{
  width: 100%;
}

/*Forms*/
.popup-form{
  width: 100%;
  .mat-dialog-actions{
    justify-content: flex-end;
    margin-bottom: -12px;
  }
}
