<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="mat-h2">Ігри</h2>
      <mat-accordion>
        <mat-expansion-panel class="game-panel" *ngFor="let game of games">
          <mat-expansion-panel-header>
            <div class="game-title full-width">
              <h6>{{game.tournament}}</h6>
              <span>{{game.date | date}}</span>
            </div>
            <div class="game-info">
              <div class="game-info-item">
                {{game.firstPlayer.name}}
                <span class="user-avatar">
                  <img src="{{game.firstPlayer?.avatar || './assets/images/avatar.jpg'}}" alt="photo">
                </span>
                <div class="game-win">{{game.firstPlayerScore}}</div>
              </div>
              -
              <div class="game-info-item">
                <div class="game-win">{{game.secondPlayerScore}}</div>
                <span class="user-avatar">
                  <img src="{{game.secondPlayer?.avatar || './assets/images/avatar.jpg'}}" alt="photo">
                </span>
                {{game.secondPlayer.name}}
              </div>
            </div>
          </mat-expansion-panel-header>
          <div class="sets">
            <table class="full-width table table-bordered">
              <tr>
                <td>{{game.firstPlayer.name}}</td>
                <td *ngFor="let set of game.sets">{{set.firstPlayerPoints}}</td>
              </tr>
              <tr>
                <td>{{game.secondPlayer.name}}</td>
                <td *ngFor="let set of game.sets">{{set.secondPlayerPoints}}</td>
              </tr>
            </table>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
